* {
  --aboutmebg: #3bd;
  --aboutmebgc: #26a28f;
  --cirrus-fg: #ffcc13;
  --cirrus-bg: #e8e1ef;
  --header-link-color: #540d6e;
  --gray: #2e2e2e;
  font-family: "Chewy", cursive !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.clay span {
  text-align: center;
  font-size: 0.8rem;
  font-family: "Fredoka One", cursive;
  -webkit-text-stroke: 0.01em var(--gray);
  text-shadow: 0.05rem 0.05rem 0 var(--cirrus-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
.rainbow,
.clay span {
  font-family: "Fredoka One", cursive !important;
  line-height: 1.5em;
  color: var(--cirrus-fg);
}

.home {
  margin-top: calc(5vh + 52px);
}

.me {
  width: 312px;
  padding: 25px 0;
  animation: dribble 1.5s 0s infinite alternate ease-in-out forwards;
}

.poggers {
  transition: 0.6s ease;
}

.poggers:hover {
  transform: scale(1.1);
}

.name {
  width: 312px;
  animation: dribble2 2.5s 0s infinite alternate ease-in-out forwards;
}

@keyframes dribble {
  0% {
    transform: translateY(10px) rotate(10deg);
  }
  100% {
    transform: translateY(-20px) rotate(-10deg);
  }
}

@keyframes dribble2 {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.parallax {
  /* The image used */
  background-image: url("res/index-bg.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme {
  margin-top: 5em;
}

.aboutme .contents {
  background: linear-gradient(
    180deg,
    var(--aboutmebg) 0%,
    var(--aboutmebgc) 100%
  );
  padding: 0 5%;
}

.wave {
  fill: var(--aboutmebg);
}

.wave-rotated {
  fill: var(--aboutmebgc);
}

.rainbow-container {
  background: linear-gradient(to right, #aa076b, #61045f);
  padding: 0.1em 0.25em;
  border-radius: 0.5em;
  border: 0.05em solid white;
  position: relative;
}
.rainbow {
  background-size: 200% !important;
  background-image: none !important;
  background-image: linear-gradient(
    45deg,
    #fff070 0%,
    #fff070 35%,
    var(--cirrus-fg) 66%,
    var(--cirrus-fg) 100%
  ) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  animation: glow 6s linear infinite !important;
  text-shadow: none !important;
}

.clay {
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.5em auto !important;
}

.red {
  background-image: url("./res/clay-red.png");
}

.green {
  background-image: url("./res/clay-green.png");
}

.blue {
  background-image: url("./res/clay-blue.png");
}

.clay .logo {
  width: 60%;
}

.rotate {
  transform: rotate(180deg);
  fill: var(--aboutmebgc);
  background: #38ff43;
}

.timeline {
  background: linear-gradient(180deg, #38ff43 0%, #85ff8b 100%);
  margin-top: -1em;
  color: var(--cirrus-bg);
  padding: 3em;
}

.timeline iframe {
  height: 512px;
  overflow: hidden;
}
